body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}

/* OTHER NAVBAR DESIGN COMPONENTS */

.navBar-contents {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 97%;
  padding-right: 1%;
}

.navBar-contents-p1 {
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.navBar-contents-p1 img {
  width: 120px;
}

.navBar-contents-p2 {
  display: flex;
  align-items: center;
}

.navBar-contents-p2 ul {
  display: flex;
  gap: 3.75rem;
  list-style: none;
}

.nav-BranchName {
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  border-radius: 20px 20px 20px 0;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar-contents-p2-mobile {
  display: none;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown:hover {
  color: #CE1616;
}

.dropdown-menu {
  position: absolute;
  background: white;
  z-index: 1000;
  list-style: none;
  padding: 0;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
}

.dropdown-items {
  margin: 8px;
}

.dropdown-item {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.dropdown-item a:hover {
  color: #1E1E1E;
}

.dropdown-item:hover {
  background-color: rgb(240, 240, 240);
  color: #1E1E1E;
}

.dropdown > div > h3 {
  position: relative;
  padding-right: 20px; /* space for the arrow */
}

.dropdown > div > h3::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000; /* arrow stroke color */
  width: 0;
  height: 0;
}

.dropdown.dropdown-open > div > h3::after {
  transform: translateY(-50%) rotate(180deg);
}



/* BREAKPOINTS */

.navBar-contents-p2-tablet {
    display: none;
  }

.navBar-contents-p1-mobile {
    display: none;
  }

.nav-BranchName-mobile {
  display: none;
}


/* ===== TABLET =====*/
@media (max-width: 1369px) {
  .navBar-contents-p2 {
    display: none;
  }

  .navBar-contents-p2-tablet {
    display: flex;
    align-items: center;
  }

  .navBar-contents-p2-tablet ul {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  .burger-icon {
    width: 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100; /* above menu */
  }

  .line {
    height: 2.5px;
    background-color: #000;
    border-radius: 2px;
    transition: 0.3s ease;
  }

  /* Transform to X when open */
  .burger-icon.open .line {
    background-color: #CE1616;
  }

  .burger-dropdown {
    width: 30%;
    position: absolute;
    top: 90px; /* below navbar */
    right: 0;
    min-width: 180;
    background: white;
    border-top: 0px solid #eee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .burger-dropdown ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dropdown-tablet {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 899px) {
  .navBar-contents-p1 {
    display: none;
  }

  .navBar-contents-p2 {
    display: none;
  }

  .navBar-contents-p2-tablet {
    display: none;
  }

  .navBar-contents-p1-mobile {
    display: flex;
    margin-left: 5px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .navBar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

  .navBar-contents-p1-mobile img {
    width: 70px;
  }

  .nav-BranchName-mobile {
    display: flex;
    border-radius: 20px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 0px 20px 0px 20px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navBar-contents-p2-mobile {
    display: flex;
    align-items: center;
  }

  .navBar-contents-p2-mobile ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .burger-dropdown {
    position: absolute;
    top: 90px; /* below navbar */
    right: 0;
    width: 100%;
    min-width: 180;
    background: white;
    border-top: 0px solid #eee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
}



#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  gap:18px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.branch-select-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  width: 635px;
  height: 20px;
}

.branch-selection {
  font-size: 12px;
  font-family: 'Inter Regular';
  margin: 0;
  width: 40%;
  text-align: left;
  color: #797979;
  background-color: #ffffff;
  border: solid 1px #000000;
  border-radius: 25px;
}

.refresh-button {
  color: #ffffff;
  background-color: #CE1616;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  font-family: 'Inter Extra Bold';
}

.branches-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  width: 635px;
  height: 20px;
}

.branches-card ul {
  list-style-type: none;
  padding-left: 1.5rem;
}

.branches-card ul li {
  font-size: 14px;
  font-family: 'Inter Regular';
  position: relative;
  padding-left: 1.5rem;
  text-align: left;
  --bullet-color: red;
}

.branches-card ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em; /* vertically center */
  width: 12px;  /* bigger bullet width */
  height: 12px; /* bigger bullet height */
  background-color: black; /* bullet color */
  transform: translateY(-50%);
  background-color: var(--bullet-color);
}

.line-div {
  width: 90%;
  margin: 0px 0 20px 0;
}

.upper-part {
  display: flex;
  gap: 20px;
}

a {
  color: black;
}

a:hover {
  color: #CE1616;
}

h1 {
  font-size: 24px;
  font-family: 'Inter Bold';
}

h2 {
  font-size: 18px;
  font-family: 'Inter Bold';
}

h3 {
  
  font-family: 'Inter Bold';
}

h4 {
  font-size: 14px;
  font-family: 'Inter Regular';
}

p {
  font-size: 12px;
  font-family: 'Inter Regular';
}